body{
    background-color: #c03535;
    height: 700px;
    width: 300;
    font-family: 'Righteous', cursive;
    color: #ffffff;
    
} 
.image{
    height: 128;
    width: 128;
    margin-left: 75px;
}
button{
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%);
    border-radius: 8px;
}
.link{
    color: #ffffff;  
    text-decoration: none;
    transition: all 0.4s ease;
 }

.link:hover {
    background-color:#A51C30;
}
iframe{
    overflow: hidden;
}

.link:hover {
    text-decoration: underline;
    text-decoration-color: aqua;
    text-decoration-thickness: 5px;
}